.communication {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    padding: 0 0 110px 125px;
  }

  &__container {
    @include for-large-up {
      display: flex;
    }
  }

  &__started {
    @include for-large-up {
      max-width: 462px;
      margin-top: 123px;
    }

    button {
      @include for-large-up {
        margin-left: 4px;
      }
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #0189d1;

    @include for-large-up {
      padding-left: 2px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin-top: 17px;
    margin-bottom: 18px;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 30px;

    @include for-large-up {
      padding-left: 2px;
    }
  }

  &__card {
    padding-bottom: 40px;

    @include for-large-up {
      padding-bottom: 0;
      padding-top: 110px;
      width: 425px;
      margin-left: 193px;
    }

    &-img {
      padding-top: 40px;
      padding-bottom: 17px;
      width: 100%;

      @include for-large-up {
        padding-bottom: 15px;
        padding-top: 0;
      }
    }
  }

  &__nav {
    &__line {
      height: 1px;
      width: 150px;
      background-color: $text-color-black;
      opacity: 0.1;
    }

    &__links {
      display: flex;
      flex-direction: column;

      @include for-large-up {
        flex-direction: row;
        margin-left: 5px;
      }
    }
  }
}

.communicate {
  @include for-large-up {
    width: 360px;
    margin-right: 30px;
  }

  &__description {
    margin-top: 33px;
    margin-bottom: 10px; /**/
    font-size: 18px;
    line-height: 26px;

    @include for-large-up {
      margin-top: 41px;
    }

    span {
      font-weight: 700;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $color-dark-blue;
  }
}
