.top-section {
  background-color: #f3c6bd;
  width: 320px; // have delete
  margin: 0 auto; // have delete

  @include for-large-up {
    padding-top: 39px;
    background-color: #f3c6bd;
    width: auto;
  }
}

.header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #fff;

  @include for-large-up {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: #f3c6bd;
  }

  &__button {
    display: none;
    @include for-large-up {
      display: block;
    }
  }

  &__menu-button {
    width: 58px;
    height: 100%;
    border: none;
    border-left: 1px solid #00000026;
    background-color: #fff;
    margin-right: auto;

    @include for-large-up {
      display: none;
    }
  }

  // &__menu-icon {
  //   width: 18px;
  //   height: 13px;
  //   background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
  //   display: inline-block;
  // }
}

.navigation {
  display: none;

  @include for-large-up {
    display: block;
    margin: 7px 75px 0 auto;
  }

  &__item {
    color: #2b292d;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }

    &_selected {
      font-weight: 700;
    }
  }

  &__arrow {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
    margin-left: 11px;
    display: inline-block;
    width: 8px;
    height: 5px;
  }
}

.logo {
  display: flex;

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;

    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 74px;

    @include for-large-up {
      padding-right: 0;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    display: none;

    @include for-large-up {
      font-size: 18px;
      line-height: 25px;
      color: #2b292d;
      opacity: 0.6;
    }
  }
}
