.hiring {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    padding-top: 106px;
    padding-bottom: 110px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;

    @include for-large-up {
      width: 555px;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin: 0;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__info {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 30px;

    @include for-large-up {
      margin-top: 20px;
      margin-bottom: 28px;
    }
  }

  button {
    width: 100%;
  }

  &__cards {
    width: 100%;
    padding: 39px 15px 0 15px;

    @include for-large-up {
      padding-top: 110px;
    }
  }

  &__card {
    display: flex;
    border: 1px solid $border-color;
    border-radius: 8px;
    margin-bottom: 15px;

    &:hover {
      background-color: $color-dark-blue;
      color: $text-color-white;
    }

    &:hover .hiring__card-desc {
      opacity: 1;
    }

    @include for-large-up {
      &:hover .hiring__triangle {
        border-right: 2px solid $text-color-white;
        border-bottom: 2px solid $text-color-white;
        opacity: 1;
      }

      width: 750px;
      height: 81px;
      margin: 0 auto 20px auto;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-info {
      margin: 19px 20px;
      width: 199px;
      display: flex;
      flex-direction: column;

      @include for-large-up {
        flex-direction: row;
        align-items: center;
        width: 100%;
      }
    }

    &-desc {
      margin-top: auto;
      font-size: 16px;
      line-height: 22px;
      opacity: 0.6;

      @include for-large-up {
        margin: 0;
      }
    }

    &-nav {
      width: 50px;
      min-height: 140px;
      background-color: #d5d4d5;
      border-radius: 0px 8px 8px 0px;
      margin-left: auto;
      display: flex;
      cursor: pointer;

      @include for-large-up {
        min-height: 50px;
        width: 50px;
        background-color: transparent;
      }
    }
  }

  &__profession {
    font-size: 22px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 18px;

    @include for-large-up {
      margin-bottom: 0;
      width: 408px;
      margin-right: 20px;
    }
  }

  &__triangle {
    width: 6px;
    height: 6px;
    border-right: 2px solid #2c324199;
    border-bottom: 2px solid #2c324199;
    margin: auto;
    transform: rotate(-45deg);

    @include for-large-up {
      width: 8px;
      height: 8px;
    }
  }
}
